<template>
  <div class="row mt-3">
    <h4>Categories</h4>
    <ul class="nav flex-column mt-3">
      <li>
        <router-link class="nav-link" to="/categories/all"> All </router-link>
      </li>
      <li v-for="(c, i) in categories" :key="i">
        <router-link class="nav-link" :to="'/categories/' + c.slug">
          {{ c.name }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  components: {},
  computed: {
    ...mapState('productModule',["categories"]),
  },
  methods: {},
};
</script>
