<template>
  <div id="header-component">
    <b-navbar toggleable="md" type="dark" variant="dark" fixed="top">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand to="/home">Shopping Cart</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav v-for="(p, i) in pages" :key="i">
          <b-nav-item v-if="p.slug != 'home'" :to="'/' + p.slug">{{
            p.name
          }}</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "main-header",
  components: {},
  computed: {
    ...mapState('productModule',["pages"]),
  },
};
</script>
