<template>
    <div class="row mt-3">
        <div class="col">
            <category-list/>
        </div>
        <div class="col-9">
            {{pageContent}}
        </div>
    </div>
</template>

<script>
import CategoryList from './CategoryList.vue';
import { mapState } from 'vuex';

export default {
    components: {CategoryList},
    computed: {
        ...mapState('productModule',["pages"]),  
        pageContent(){
            let slug = this.$route.params.slug ? this.$route.params.slug : 'home';
            let page = this.pages.find(p => p.slug == slug);

            if(page){
                return page.content;
            }

            return '';
        }
    },
    
}
</script>
