<template>
  <div class="row mt-3">
    <div class="col">
      <category-list />
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-3" v-for="(p, i) in products" :key="i">
          <img
            :src="productImages + p.image"
            class="product-img"
            :alt="p.name"
          />

          <h3>
            {{ p.name }}
          </h3>
          <p>
            {{ p.description }}
          </p>
          <p>
            {{ p.price | currency}}
          </p>
          <p>
            <button class="btn btn-primary">Add to Cart</button>
          </p>
        </div>
      </div>
    </div>
    <product-pagination/>
  </div>  
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import CategoryList from "./CategoryList.vue";
import ProductPagination from "./ProductPagination.vue";

export default {
  name: "ProductList",
  components: { CategoryList, ProductPagination },
  computed: {
      ...mapState('productModule',['products','productImages']),//this syntax only works for namespaced modules
  },
  methods: {
    ...mapMutations('productModule',["setCurrentPage", "setCurrentCategory"]),
    ...mapActions('productModule',["setProductsByCategoryAction"]),
  },
  created() {
    let category = this.$route.params.category;
    this.setProductsByCategoryAction(category);
  },
  beforeRouteUpdate(to, from, next) {        
        let category = to.params.category;
        this.setCurrentCategory(category);
        this.setProductsByCategoryAction(category);        
        next();
    },
};
</script>

<style lang="scss" scoped>
.product-img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}
</style>
