<template>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li
        v-if="currentPage != 1"
        @click="getProducts(currentPage - 1)"
        class="page-item"
      >
        <button class="page-link" >Previous</button>
      </li>
      <li v-for="(p, i) in pageCount" :key="i" @click="getProducts(i+1)" class="page-item" :class="[p == currentPage ? 'active':'']">
        <button class="page-link">{{p}}</button>
      </li>
      <li
        v-if="currentPage != pageCount"
        @click="getProducts(currentPage + 1)"
        class="page-item"
      >
        <button class="page-link">Next</button>
      </li>
    </ul>
  </nav>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  name: "product-pagination",
  computed: {
    ...mapState('productModule',["pageCount", "currentPage"]),
  },
  methods:{
    ...mapMutations('productModule',["setCurrentPage"]),
    ...mapActions('productModule',["setProductsByCategoryAction"]),
    getProducts(currentPage){     
      this.setCurrentPage(currentPage);
      this.setProductsByCategoryAction();
    }
  }
};
</script>

<style lang="scss" scoped>
.product-img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}
</style>
