<template>
  <div>
    <main-header />
    <div class="content-body">
      <router-view />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import MainHeader from "./components/MainHeader.vue";
export default {
  name: "App",
  components: {
    MainHeader,
  },
  methods: {
    ...mapActions('productModule',["setPagesActions","setCategoriesAction"]),
  },
  async created() {
    this.setPagesActions();
    this.setCategoriesAction();
  },
};
</script>

<style>
.content-body {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
</style>
